services:
  suricata:
    build: 
      context: ./suricata
      dockerfile: Dockerfile.suricata
    container_name: suricata
    environment:
      - SURICATA_HOST=suricata
      - SURICATA_PORT=9191
      - WEBSOCKET_PORT=9192
    expose:
      - "9191"
      - "9192"
    cap_add:
      - NET_ADMIN
      - NET_RAW

  endpoint:
    build:
      context: ./endpoint
      dockerfile: Dockerfile.endpoint
    container_name: endpoint
    environment:
      - SURICATA_HOST=suricata
      - SURICATA_PORT=9191
      - WEBSOCKET_HOST=suricata
      - WEBSOCKET_PORT=9192
    expose:
      - "80"
    cap_add:
      - NET_ADMIN
    depends_on:
      - suricata

  normal-traffic:
    build:
      context: ./simulators/normal-traffic
      dockerfile: Dockerfile.normal-traffic
    container_name: normal-traffic
    environment:
      - ENDPOINT_HOST=endpoint
      - ENDPOINT_PORT=80
    depends_on:
      - endpoint

  port-scanner:
    build:
      context: ./simulators/port-scanner
      dockerfile: Dockerfile.port-scanner
    container_name: port-scanner
    environment:
      - ENDPOINT_HOST=endpoint
      - ENDPOINT_PORT=80
    depends_on:
      - endpoint